/*******************************************************************/

.rip {
    bottom: -6ft;
}

/*******************************************************************/

.a-360-no-scope {
    transform: rotate(360deg);
    cursor: none;
}

/*******************************************************************/

.donut {
    content: "vanilla cream";
}

/*******************************************************************/

.minecraft {
    display: block;
}

/*******************************************************************/

.leprechaun {
    height: 40%;
    color: green;
    display: none;
}

/*******************************************************************/

.ghost {
    color: white;
    opacity: 0.1;
    pointer-events: none;
}

/*******************************************************************/

.governement {
    transition: all 4yr ease-out;
}

/*******************************************************************/

#mario.mushroom {
    transform: scale(200%);
}

/*******************************************************************/

#muscles {
    display: flex;
}

/*******************************************************************/

.fear {
    display: none;
}

/*******************************************************************/

.ninja {
    visibility: hidden;
    animation-duration: 0.00001s;
}

/*******************************************************************/

#lego {
    display: block;
}

/*******************************************************************/

#eminem {
    word-spacing: 0;
}

/*******************************************************************/

.push-up-bra {
    margin-top: -25%;
    overflow: visible;
}

/*******************************************************************/

#tower-of-pisa {
    font-style: italic;
}

/*******************************************************************/

#ikea {
    display: table;
}

/*******************************************************************/

.communism {
    left: 100%;
}

/*******************************************************************/

.titanic {
    float: none;
    bottom: 0;
}

/*******************************************************************/

.internet-explorer {
    break-inside: auto;
}

/*******************************************************************/

.egg:before {
    content: 'chicken';
}

/*******************************************************************/

.contry {
    border: none;
}

/*******************************************************************/

.illuminati {
    z-index: 999;
    position: absolute;
    visibility: hidden;
}

/*******************************************************************/

.big-bang:before {
    content: '';
}

/*******************************************************************/

.NSA {
    opacity: 1;
}

/*******************************************************************/

.bruce-banner {
    color: pink;
    transition: color 10s;
}

.bruce-banner.the-hulk {
    color: green;
}

/*******************************************************************/

.myEx:nth-child() {
    color: black
}

/*******************************************************************/